# Day 2 Lecture Notes
* Jupyter Notebook
    * How to create cell
    * How delete cell
    * How to merge cell
    * How to change cell
    * How to run Jupyter Notebook 
* Operations
    * Addition
    * Subtraction
    * Multiplication
    * Division
    * Integers Division
    * Power
    * Modules
* Data Types
    * Integers
    * Float
    * Variable Assignment
    * Printing
    * String
        * Strings methods
    * List
    * Dictionary
    * Boolean
    * Tuple
    * Comparison Operator
 * Bsic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter
* Numpy
    * Arrays
    * Operations
* Pandas
    * Pandas Serries
    * Pandas DataFrame
    * Missing Data
    * Handling Missing Data
    * Case Study
    * Join
    * Merge
    * Concatenate
    * Outliers
    * Mean, Meadain, Mode, Variance, STD

In [6]:
0.05+1.55

1.6

In [7]:
1/2+1/3

0.8333333333333333

In [8]:
30-12

18

In [9]:
1-15

-14

In [10]:
0.5-2.5

-2.0

In [15]:
2*7+ 19 -23

10

In [16]:
10/2

5.0

In [17]:
11/3

3.6666666666666665

In [18]:
# Integer Division
11//3

3

In [19]:
2//3

0

In [22]:
-13/2

-6.5

In [1]:
# Power
3**2 #This will return 3 square

9

### The code below return square root of 4 

$\sqrt4$

In [9]:
4**(0.5) # This will return square root of 4 $\sqrt(4)$

2.0

#### The code below will return $\frac{1}{8}$

In [10]:
2**(-3)

0.125

In [11]:
2**(0)

1

### The code below return cube root of 8

$\sqrt[3]{8}$

In [8]:
8**(1/3)

2.0

In [13]:
# Modules (%): This is a very usefull operator that always 
#returs the reminder of the division

In [15]:
13%5

3

In [16]:
8%2

0

In [17]:
-16%2

0

In [18]:
13%2

1

In [22]:
# integers(int) = negative whole numbers together with 
#positive whole numbers

In [20]:
# Examples: 2, -5, -1999, -2023, 2024,....
#...., -3,-2,-1,0,1,2,3,...

In [21]:
type(2)

int

In [23]:
type(2.0)

float

In [24]:
# Floats are decimals. Examples: 2.0, 0.2, 35.15, 0.001

In [25]:
# Strings are alphanumerics that are between 
#either single quotations or double quotations

In [26]:
'I am sinlge'

'I am sinlge'

In [27]:
"I am double quotations"

'I am double quotations'

In [30]:
'Your name'

'Your name'

In [32]:
'Moussa'

'Moussa'

In [ ]:
w3school and check the string methods

In [1]:
123var =77

SyntaxError: invalid decimal literal (482550807.py, line 1)

In [2]:
%var1=23

UsageError: Line magic function `%var1=23` not found.

In [3]:
var3_123 =2023

In [4]:
"Doumbia" =last_name

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (378082299.py, line 1)

In [5]:
last_name = "Doumbia"

In [7]:
var4_ =2

# String Methods

In [9]:
first_name = 'moussa'

In [10]:
# Upper
first_name.upper()

'MOUSSA'

In [11]:
last_name = "DOUMBIA"

In [12]:
#lower
last_name.lower()

'doumbia'

In [16]:
full_name = 'Moussa   Doumbia'

In [19]:
# Split
full_name.split("  ")

['Moussa', ' Doumbia']

In [20]:
email ='example@email.com'

In [21]:
email.split("@")

['example', 'email.com']

In [22]:
#len
school = '  Howard University         '

In [23]:
len(school)

28

In [24]:
# lstrip
left = school.lstrip()

In [25]:
left

'Howard University         '

In [28]:
len(left)

26

In [26]:
# rstrip
right = school.rstrip()

In [27]:
right

'  Howard University'

In [29]:
len(right)

19

In [30]:
#strip
school.strip()

'Howard University'

In [31]:
crazy_example = '%customer---'

In [32]:
crazy_example.lstrip("%")

'customer---'

In [33]:
crazy_example.rstrip("-")

'%customer'

In [14]:
# Lists are of the form ['member1','member2','memeber3'], [23,12,99,90,1,0.5]
my_fruits_basket = ['Mango', 'Apple', 'Banana', 'Grape','Tomato','Drago Fruit','Peanut', 'Strawberry']

In [15]:
 #                       0,     1,        2,      3,         4,        5,            6,        7

In [16]:
my_fruits_basket[7]

'Strawberry'

In [17]:
my_fruits_basket[-1]

'Strawberry'

In [18]:
my_fruits_basket[0:3] # index 3 is excluded

['Mango', 'Apple', 'Banana']

In [19]:
# Remove the last member
last = my_fruits_basket.pop()

In [20]:
last

'Strawberry'

In [8]:
my_fruits_basket

['Mango', 'Apple', 'Banana', 'Grape', 'Tomato', 'Drago Fruit', 'Peanut']

In [10]:
# Populating a list
# Here we want to add Strwberry to my_fruits_bast list
my_fruits_basket[6] = 'Strawberry'

In [11]:
my_fruits_basket

['Mango', 'Apple', 'Banana', 'Grape', 'Tomato', 'Drago Fruit', 'Strawberry']

In [12]:
# removing a specific member
my_fruits_basket.pop(2)

'Banana'

In [13]:
my_fruits_basket

['Mango', 'Apple', 'Grape', 'Tomato', 'Drago Fruit', 'Strawberry']

In [22]:
list(enumerate(my_fruits_basket))

[(0, 'Mango'),
 (1, 'Apple'),
 (2, 'Banana'),
 (3, 'Grape'),
 (4, 'Tomato'),
 (5, 'Drago Fruit'),
 (6, 'Peanut')]

In [24]:
other_fruit = ['Blueberry','Water melon','Orange']

In [25]:
big_basket_of_fruits = my_fruits_basket+other_fruit

In [26]:
big_basket_of_fruits

['Mango',
 'Apple',
 'Banana',
 'Grape',
 'Tomato',
 'Drago Fruit',
 'Peanut',
 'Blueberry',
 'Water melon',
 'Orange']

$Check{w3school}$

In [27]:
seat_number = [1,2,3,4,5,6,7,8,9,10]

In [30]:
seat_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
my_examp = {'Key1':'value1','Key2':'value2','Key3':'value3'}

In [33]:
students_gpa={'S1':4.0, 'S2':3.88,'S3':3.95, 'S4':4.0}

In [34]:
students_gpa

{'S1': 4.0, 'S2': 3.88, 'S3': 3.95, 'S4': 4.0}

In [35]:
students_gpa.items()

dict_items([('S1', 4.0), ('S2', 3.88), ('S3', 3.95), ('S4', 4.0)])

In [40]:
students = {
    'ID':'@12345678',
    'Name':'John Doe',
    'Email':'stduent_email@bison.howard.edu',
    'Phone':2028067131,
    'School':'COAS',
    'Major':"Data Science",
    'Minor':"Optional",
    'GPA': 4.0,
    'Origin':'Domestic/F1'
}

In [41]:
students['Name']

'John Doe'

In [43]:
del students['GPA']

In [44]:
students

{'ID': '@12345678',
 'Name': 'John Doe',
 'Email': 'stduent_email@bison.howard.edu',
 'Phone': 2028067131,
 'School': 'COAS',
 'Major': 'Data Science',
 'Minor': 'Optional',
 'Origin': 'Domestic/F1'}

In [45]:
students['ER-Contact']= 'Mom or Dad at 2028065555'

In [46]:
students

{'ID': '@12345678',
 'Name': 'John Doe',
 'Email': 'stduent_email@bison.howard.edu',
 'Phone': 2028067131,
 'School': 'COAS',
 'Major': 'Data Science',
 'Minor': 'Optional',
 'Origin': 'Domestic/F1',
 'ER-Contact': 'Mom or Dad at 2028065555'}

In [50]:
#create sequence of strings
cities = ('Paris','Athens', 'Madrid')

In [51]:
#create the dictionary, `my_dictionary`, using the fromkeys() method
my_dictionary = dict.fromkeys(cities)

In [52]:
my_dictionary

{'Paris': None, 'Athens': None, 'Madrid': None}

In [53]:
students.get('School')

'COAS'

In [ ]:
# Practice: Build a dictionary using the following information
# Car: Make, Model, Color, Origin, Cylinder, Doors, Mileage, Year, Status

In [58]:
Car = {'Make': 'Toyota',
       'Model':'Camry',
       'Color':'White',
       'Origin':'Dubai',
       'Cylinder':'4-cylinder',
       'Doors':"4-Doors",
       'Mileage_Driven':100000,
       'Year':1999,
       'Status':"Used"
    
}

In [57]:
Car['Color']

'White'

In [59]:
Car['Mileage']='60mi/Gal'

In [60]:
Car

{'Make': 'Toyota',
 'Model': 'Camry',
 'Color': 'White',
 'Origin': 'Dubai',
 'Cylinder': '4-cylinder',
 'Doors': '4-Doors',
 'Mileage_Driven': 100000,
 'Year': 1999,
 'Status': 'Used',
 'Mileage': '60mi/Gal'}

# The operatoer AND(&) stands for intersection
### AND OPERATOR

|T |T |=T|
|--|--|--|
|T | F|=F|
|  |  |  |
|F | T|=F|
|F | F|=F|

In [1]:
(0<0)

False

In [2]:
(10>5)

True

In [ ]:
(0<0) and (10>5)

In [4]:
(0<0) & (10>5)

False

# The operatoer AND( | ) stands for intersection
# "OR" OPERATOR

|Con1|Cond2|OR |
|----|-----|---|
|T   |T    |=T |
|T   | F   |=T |
|F   | T   |=T |
|F   | F   |=F |

In [5]:
(0<0) or (10>5)

True

In [6]:
(0<0) | (10>5)

True

In [7]:
#Comparison Operator
True == False

False

In [8]:
"Sping" == 'Summer'

False

In [9]:
'Moussa' == "moussa"

False

In [10]:
12%3 == 0

True

In [11]:
12%3 != 0

False

In [12]:
num = 175

In [13]:
num % 2 != 0

True

In [14]:
num % 2 == 0

False

In [15]:
num % 2 >= 0

True

In [16]:
# Tuples are Unchangeable data
my_tuple = (1,11)

In [18]:
my_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

In [19]:
a, b = (1,11)

In [20]:
a

1

In [21]:
b

11

In [22]:
a,b,c =(1,11)

ValueError: not enough values to unpack (expected 3, got 2)

In [23]:
his_tuple = (2,22,44)

In [24]:
a,b = (2,22,44)

ValueError: too many values to unpack (expected 2)

In [25]:
# Sets are of the form {first_element, second_element,.....}. Sets do not accept duplicate
my_set = {1,1,1,1,1,2,2,3,3,3,4,5,5,5,6,7,7,7}

In [26]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [27]:
{7,6,5,4,3,2,1}

{1, 2, 3, 4, 5, 6, 7}

In [28]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [29]:
alpha_set = {'Water Melon','Pineapple','Grape','Apple','Banana','Cucumber'}

In [30]:
alpha_set

{'Apple', 'Banana', 'Cucumber', 'Grape', 'Pineapple', 'Water Melon'}

In [33]:
my_list = [22,1,31,5,9,0,9,9]

In [34]:
set(my_list)

{0, 1, 5, 9, 22, 31}

# Printing

In [35]:
name = 'Moussa'

In [36]:
name

'Moussa'

In [37]:
print(name)

Moussa

In [49]:
first_name = 'Moussa'
last_name = "Doumbia"
number =211

In [45]:
# f string
print(f'Hello {first_name} {last_name}!\n Welcome to AI for Edu')

Hello Moussa Doumbia!
 Welcome to AI for Edu

In [46]:
# Formating
print("Hello {} {}\n Welcome to AI for EDu ".format(first_name,last_name))

Hello Moussa Doumbia
 Welcome to AI for EDu

In [47]:
print("Hello {one} {two}\n Welcome to AI for EDu ".format(two=last_name, one=first_name))

Hello Moussa Doumbia
 Welcome to AI for EDu

In [50]:
print("Hello {} {}!\n Welcome to AI for EDU. Your office number is {}".format(first_name, last_name, number))

Hello Moussa Doumbia!
 Welcome to AI for EDU. Your office number is 211

In [57]:
print('Center Method'.center(95))

                                         Center Method